*{
    margin: 0;
    padding: 0;
}
/* common style */
.common-btn{
    padding: 8px 15px;
    background-color: #1D4ED8;
    color: #ffffff;
    border-radius: 10px;
    border: none;
}
.common-clr{
    color: blue;
}
section{
    padding: 80px 8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #8b8989;
}

/* header style */
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner{
    text-align: center;
    color: white;
}
.hero-banner p{
    margin-top: 20px;
    margin-bottom: 220px;
    color: #c1bfbf;
}
.hero-banner button:hover{
    border: 2px solid blue;
}
/* speaker meet section */
.Speakers-parent-sec h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 800;
}
.first-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 70px;
}
.first-child h2{
    padding: 5px 0;
    margin-left: 12px;
}
.first-child p{
    margin-left: 12px;
}
.first-child img{
    width: 100%;
}
/* card section */
.card-container-parent{
    padding-top: 20px;
}
.card-container{
    text-align: center;
    /* margin-bottom: 10px; */
    /* padding-top: 20px; */
}
.card-container h1{
    font-size: 2.3rem;
    padding: 8px 0;
}
.card-container p{
    padding-bottom: 30px;
    font-size: 0.8rem;
}
.card-container-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card-container-child p{
    color: #8b8b8b;
}
.card-container-child div{
    border: 1px solid#c1bfbf;
    width: 280px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
}
.person{
    margin-bottom: 20px;
}
.card-container-child ul{
    padding: 20px 10px;
    color: #6c6b6b;
}
.card-container-child ul li{
    padding: 5px 0;
}
.card-container-child ul li::marker{
    color: rgb(82, 82, 245);
}
.card-container-child button{
    width: 80%;
    margin-left: 10%;
    padding: 8px 20px;
    border-radius: 15px;
}
.card-1 button{
    color: #1D4ED8;
    border: 1px solid blue;
    background-color: #fff;
}
.card-2{
    color: #fff;
    background-color: #0D1B2A;
}
.card-2 ul{
    color: #c5c5c5;
}
.card-2 button{
    color:#ffffff;
    background-color: #1D4ED8;
    border: none;
}
.card-2-p{
    color: #5d7dd6;
}
.card-3{
    background-color: #F8F9FB;
}
.card-3 button{
    border: 1px solid black;
}
.sponsores-section{
    text-align: center;
    display: grid;
    gap: 10px;
}
.sponsores-section h3{
    padding: 15px 0;
}
.sponsors-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.sponsors-card img{
    width: 100%;
    height: 300px;
    border: 1px solid #c1bfbf;
    border-radius: 10px;
}
.sponsors-card h4{
    text-align: center;
    padding: 5px 0;
}
.footer{
    background-color: #0D1B2A;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 18px 8%;
    height: 80px;
    margin: 10px 0;
    align-items: center;
}
.footer-content i{
    color: white;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    color: #c1bfbf;
    font-size: 0.8rem;

}
.privey{
    display: flex;
    gap: 20px;
}
